.banner {
    padding: 0.62rem 1.25rem; /* Espaçamento interno */
    text-align: center; /* Centraliza o texto */
    margin: 30px 150px;
    border-radius: 10px;
    font-family: var(--fonte--principal);
}

.banner__titulo {
    font-size: 2em; /* Tamanho da fonte do título */
    color:var(--fonte--azul); /* Cor do título */
    font-weight:900;
    margin-bottom: 15px; /* Espaçamento abaixo do título */
}

.banner__texto {
    font-size: 1.2em; /* Tamanho da fonte do texto */
    color:var(--fonte--rosa); /* Cor do texto */
    font-weight:300;
    margin-bottom: 20px; /* Espaçamento abaixo do texto */
}

.banner__pesquisa {
    width: 100%; /* Largura total */
    max-width: 400px; /* Largura máxima */
    padding: 10px; /* Espaçamento interno */
    border: 1px solid #ccc; /* Borda do input */
    border-radius: 5px; /* Bordas arredondadas */
    font-size: 1em; /* Tamanho da fonte do input */
    transition: border-color 0.3s; /* Transição na borda */
}

.banner__pesquisa:focus {
    border-color:var(--fonte--rosa); /* Cor da borda ao focar */
    outline: none; /* Remove o contorno padrão */
}

@media screen and (max-width:1024px) {
 
.banner__pesquisa {
    display: none   ;
}
  

}

@media screen and (max-width:560px) {
 
    .banner__titulo {
       display: none    ;
    }
    
    .banner__texto {
        display: none;
    }
    
    }